$main-color: #81BC44;
*{
    font-family: 'Yaldevi', sans-serif;
}
#page-content{
    width: 100vw;
    max-width: 100%;
    nav{
        display: flex;
        justify-content:space-between;
        align-items: center;
        height: 100px;
        margin: 0 30px;
        padding-top: 10px;
        
        img{
            width: 200px;

            @media(max-width: 992px){
                width: 150px;
            }
        }
    
        button{
            height: 40px;
        }

        >div{
            display: flex;
            align-items: center;
            gap: 5px;

            h4{
                font-size: 16px
            }
            img{
                width: 40px;
            }
        }
    }

    hr{
        margin-top: 10px;

    }

    main{

        h1{
            text-align: center;
            color: $main-color;
            filter: brightness(0.9);
            padding: 20px;
        }

        #info{
            display: flex;
        }
    
        .valores{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px ridge $main-color;
            width: 200px;
            height: 200px;
            border-radius: 9999px;

            @media(max-width: 992px){
                width: 150px;
                height: 150px;
            }
    
            h1{
                color: $main-color;
                filter: brightness(0.4);
                margin: 0;

                @media(max-width: 992px){
                    font-size: 20px;
                }
            }

            h4{
                color: #808080;
                @media(max-width: 992px){
                    font-size: 14px;
                }
            }
    
            >div{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
            }
        }
    
        .valores-margin{
            margin-top:80px;
        }
        
        #dias-pagamento{
            margin-top: 30px;
            color: #211b15;
        }

        #btn-pag{
            font-weight: 700;
            font-size: 20px;
            margin-top: 15px;
            padding: 15px;
            width: 50vw;
        }
    
        #despesas{
            table{
                margin-top: 10px;
                width: 95vw;
                text-align: center;
                
                .table-descricao{
                    @media(max-width: 992px){
                        display: none;
                    }
                }
               
                td.table-buttons{
                    width: 15%;

                    @media(max-width:992px){
                        width:20%
                    }

                    @media(max-width:768px){
                        width:30%;
                    }
                    button{
                        width: 40px;
                        margin: 0px 5px ;
                    }
                }
                
            }
        }
       
    }
    
    
}
